<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.mapper.CustomerMapper">
    <resultMap id="customerMap" type="customer">
        <id column="customer_id" property="customer_id" javaType="java.lang.Integer"/>
        <result column="first_name" property="first_name" javaType="java.lang.String"/>
     </resultMap>
     <select id="checkLogin" resultType="customer">
        SELECT customer_id,first_name FROM customer  WHERE first_name=#{first_name}
    </select>
   </mapper>