<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.mapper.FilmMapper">
    <resultMap id="filmMap" type="film">
        <id column="film_id" property="film_id" javaType="java.lang.Integer"/>
        <result column="title" property="title" javaType="java.lang.String"/>
        <result column="description" property="description" javaType="java.lang.String"/>
        <result column="release_year" property="release_year" javaType="java.lang.String"/>
        <result column="language_id" property="language_id" javaType="java.lang.Integer"/>
        <result column="original_language_id" property="original_language_id" javaType="java.lang.Integer"/>
        <result column="rental_duration" property="rental_duration" javaType="java.lang.Integer"/>
        <result column="rental_rate" property="rental_rate" javaType="java.lang.Double"/>
        <result column="length" property="length" javaType="java.lang.String"/>
        <result column="replacement_cost" property="replacement_cost" javaType="java.lang.Double"/>
        <result column="rating" property="rating" javaType="java.lang.String"/>
        <result column="special_features" property="special_features" javaType="java.lang.String"/>
        <result column="last_update" property="last_update" javaType="java.sql.Timestamp"/>
     </resultMap>


   <!--  <insert id="addFilm" useGeneratedKeys="true" keyProperty=,"id">
        insert into film(title,description,release_year,language_id,original_language_id,rental_duration, rental_rate,length,replacement_cost,rating,special_features,last_update) 
        values(#{title},#{description},#{release_year},#{language_id},#{original_language_id},#{rental_duration},#{rental_rate},#{length},#{replacement_cost},#{rating,special_features},#{last_update});
    </insert> -->
    
     <insert id="addFilm" useGeneratedKeys="true" keyProperty="id">
        insert into film(title,description,language_id) 
       		 values(#{title},#{description},#{language_id});
    </insert>
    
    <select id="findFilmList" resultMap="filmMap">
    	SELECT film_id,title,description,language.name as name from film,language WHERE film.language_id=language.language_id 
    	<!--SELECT film_id,title,description,language_id FROM film WHERE 1=1   -->
        LIMIT #{offset},#{pageSize}
    </select>
     <select id="selectCount" resultType="int">
        SELECT COUNT(1) FROM film
    </select>
       <update id="updateFilm" parameterType="int">
        UPDATE film SET
        <if test="title != null">
            title = #{title},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="language_id != null">
            language_id = #{language_id}
        </if>
           WHERE film_id = #{film_id}
    </update>
    <delete id="deleteFilm" parameterType="int">
        DELETE FROM film  WHERE film_id = #{film_id}
    </delete>
</mapper>
